.heading {
  font-size: 25px;
  color: rgb(29, 23, 83);
}
#cityIp {
  padding: 5px 20px;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
}
#getWeatherBtn {
  padding: 5px 20px;
  font-size: 17px;
  border-radius: 5px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #bebdbd;
}

.uD {
  background-color: #aca9a9; /* light grey (you can change) */
  padding: 2px;
  box-sizing: border-box;
}

.lD {
  background-color: rgb(226, 225, 225);
  padding: 2px;
  box-sizing: border-box;
}
/* #result {
  color: rgb(70, 71, 71);
  font-size: 16px;
  font-weight: 1000;
} */
.hidden {
  display: none;
}
