.heading {
  font-size: 25px;
  color: rgb(0, 0, 0);
}
#cityIp {
  padding: 5px 20px;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
}
#getWeatherBtn {
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(255, 254, 254);
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #7f7e7e;
}

.uD {
  background-color: #858484;
  padding: 2px;
  box-sizing: border-box;
}

.lD {
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  background-color: #acacac;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
#result {
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  background-color: #acacac;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
.hidden {
  display: none;
}
#popDiv {
  color: rgb(40, 40, 40);
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  background-color: #acacac;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}
