body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading {
  font-size: 27px;
}
#cityIp {
  padding: 5px 20px;
  font-size: 17px;
}
#getWeatherBtn {
  padding: 5px 20px;
  font-size: 17px;
  border-radius: 5px;
}
